<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<table class="job-listing">
    <tr>
        <th th:text="${'Name: '}"></th>
        <td th:text="${employer.name}"></td>
    </tr>
    <tr>
        <th th:text="${'Location: '}"></th>
        <td th:text="${employer.location}"></td>
    </tr>
</table>

<hr>
<a href="#" onclick="history.go(-1)">Go Back</a>

</body>
</html>