<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>


<table class="job-listing">
    <tr>
        <th th:text="${'Name: '}"></th>
        <td th:text="${skill.name}"></td>
    </tr>
    <tr>
        <th th:text="${'Description: '}"></th>
        <td th:text="${skill.description}"></td>
    </tr>
    <tr>
        <th> Jobs: </th>
        <td>
            <ul th:each="job : ${skill.jobs}">
                <li>
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<hr>
<a href="#" onclick="history.go(-1)">Go Back</a>

</body>
</html>