<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <h3 th:unless="${jobs} and ${jobs.size()}">No Jobs Are Currently Available!</h3>

    <table class="job-listing" th:each="job : ${jobs}">
        <tr>
            <th> Job ID: </th>
            <td>
                <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
            </td>
        </tr>
        <tr>
            <th> Name: </th>
            <td th:text="${job.name}"></td>
        </tr>
        <tr>
            <th> Employer: </th>
            <td>
                <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
            </td>
        </tr>
        <tr>
            <th> Skills: </th>
            <td>
                <ul th:each="skill : ${job.skills}">
                    <li>
                        <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <hr>
    <a th:href="@{'/list'}">Back to Jobs List Page</a>

</div>

</body>
</html>